.navegador{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 10;
    background: rgb(57, 57, 211);
}
h1,h2{
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-family: serif;
}
h2{
    color: white
}
h1{
    color:gold;
}