
body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.3;

    margin:0;
    padding:0;

    height:100vh;

}
header{
     box-sizing: border-box; 
}

.hero{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left:40px;
}



.hero-bg{
    width:100%;
    height:100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./main-hero-background.png') no-repeat center center/cover;

    margin-bottom:100px;
}

.navbar{
    padding: 20px 30px;
    display: flex;
    justify-content: right;
    flex-shrink:0;
    z-index: 10;
}


.btn-sesion{
    background: none;
    color: rgb(0,0,0,.87);
    font-size: 15px;
    font-weight:bold;
    text-align:center;
    padding: 3px 12px;
    cursor: pointer;
    text-decoration: none;
    width:180px;
    height:35px;
    color:white;
}

.hero-content{
    margin-top:110px;    
}

.header-main h1{
    font-size:50px; 
    width:780px;
}

.header-main p{
    font-size:30px; 
    width:780px;
    padding-bottom:30px;
}


.subscripcion p{
    font-size:25px; 
    width:780px;
}


.input-email{
    width:420px;
    height:40px;
    font-size:20px;
    padding-left:10px;
}

.btn-sub{
    width:330px;
    height:45px;
    background:rgb(0, 170, 212);
    color:black;
    font-size:20px;
    font-weight:bold;
    border:none;
}

.details{
    padding-top:40px;
}

.details img{
    width:770px;
}

/* SHOW SECTION */

.show-section{
padding:50px;

}

/*titulos left*/ 

.tittle-left {
    padding-left:200px;
    padding-bottom:30px;
}

.tittle-left h2{
    font-size:50px;
}

.tittle-left p{
    font-size:20px;
}

/*titulos centrados*/

.tittle-center {
    padding-bottom:30px;
    text-align:center;
}

.tittle-center h2{
    font-size:50px;
}

.tittle-center p{
    font-size:20px;
}

.poster-1{
    text-align:center;
}

.poster-1 img{
    width:1800px;
    display:flex;
    flex-direction:column;
    align-items:center;
    
    margin:0 auto;
}

.poster-1 span{
    position: absolute;
    top: 185%;
    left:35%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 4rem;
    font-weight: bold;  
    border-radius: 5px;
}

.movies-section{
    padding: 50px 200px;
    overflow-x: auto;
}

.movies-group{
    display: flex;
    overflow-x: auto;
    padding-bottom: 20px;
    justify-content: space-between;
}

.movie{
    position: relative;
    flex: 0 0 auto;
    width: 200px;
    text-align: center;
}

.movie img{
    width: 100%;
    border-radius: 4px;
}

/*plan section*/

.plan-section{
    margin-top:200px;
    margin-bottom:200px;
    padding:0 200px;
}

.info {
    padding-top:40px;
    padding-bottom:20px;
}

.plan-table{
    border:1px white;
}
.col{
    background:rgb(33, 33, 33);
}
.premium{
    background:rgb(0, 145, 255);
}

        table {
            border-collapse: collapse; /*Para que si no tenemos borde no se vea la separacion*/
            max-width: 1200px; 
            height: 600px;
            margin: auto; /*Centrar la tabla*/
            border-radius: 10px;
        }

        th, td {
            padding: 12px 20px; /*Espacio interno de las celdas*/
            text-align: center; /*Centrar el texto en las celdas*/
            border: 1px solid #555555; 
        }

        th {
            color: white; 
        }

.check{
    color:rgb(24, 226, 24);
}

.neg{
    color:red;
}

.campo{
    background:rgb(17, 17, 17);
    font-weight:bold;
}

/* section deportes*/

.espn{
    width:600px;
    display:flex;
    flex-direction:column;
    align-items:center;
    
    margin:0 auto;
}

.sports-section{
    margin-top:100px;
    margin-bottom:200px;
    padding: 50px 240px;
    overflow-x: auto;
    align-items:center;
    
}

.sports-group{
    display: flex;
    overflow-x: auto;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items:center;
}


.sport img{
    width: 200px;
    border-radius: 4px;
}

/*screns*/

.screen{
    display:flex;
    flex-direction:column;
    align-items:center;
    
    margin:0 auto;
    padding-bottom:100px;
    width:1200px;
}
/*aks*/

.aks-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:1000px;
    margin:0 auto;
    gap:8px;
    padding: 60px 20px;
}

.question-box{
    width:100%;
    border-radius:4px;
    background:rgb(34, 34, 34);
    color:white;
    font-size:20px;


    padding: 10px 30px;
    cursor:pointer;
}

h3{
    padding-bottom:20px;
}

.question-box > p{
    text-align:center;
}

.question-head {
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-weight:bold;
}

.question-head div{
    padding-left:650px;
    font-size:2rem;
}

.line{
    height:1px;
    width:100%;
    background:rgb(80, 80, 80);

}

.rights{
    text-align:center;
    color:grey;
}