body {
    background: black;
    color: white;
    font-family: 'segoe UI', Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
    left: 10%;
    top: 50%;
}

.logo {
    width: 350px;
    height: auto;
}

.main-section {
    position: absolute;
    right: 20%;
    top: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
    color: white;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5em;
    text-align: center;
    color: white;
}

button {
    width: 100%;
    max-width: 400px;
    padding: 0.8em 1em;
    margin-bottom: 1em;
    border-radius: 999px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-btn {
    background: white;
    color: black;
    margin-bottom: 0.75em;
}

.apple-btn {
    background: white;
    color: black;
    margin-bottom: 0.7em;
}

.create-btn {
    background: #1DA1F2;
    color: white;
    margin-bottom: 1em;
}

.login-btn {
    background: transparent;
    color: #1da1f2;
    border: 1px solid #4333;
    margin-top: 1em;
}

.login-btn:hover {
    background: #1da1f2;
    color: white;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.divider {
    width: 100%;
    text-align: center;
    margin: 1em 0;
    position: relative;
}

.divider span{
    background: black;
    color: white;
    padding: 0 10px;
    position: relative;
}

.divider::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #333;
}

.terminos {
    font-size: 0.95em;
    color: gray;
    text-align: center;
    margin-bottom: 1.5em;
    max-width: 400px;
}

.terminos a {
    color: #1da1f2;
    text-decoration: none;
}
.login-section {
    text-align: center;
    font-size: 1.1em;
    color: white;
    margin-top: 2em;
}
