<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Grid</title>
    <style>
        .box{
            background-color: yellow;
            width: 50px;
            height: 50px;
            color: white;
        justify-content: center;
    align-items: center; 
font-size: 20px;    
display: flex;
}

.grid-containter{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(2,100px);
gap: 10px;
background-color: #f0f0f0;
padding: 10px;
}
        

    </style>
</head>
<body>
    <div class="grid-containter">
<div class="box">1 </div>
<div class="box">2 </div>
<div class="box">3 </div>
<div class="box">4 </div>
<div class="box">5 </div>
<div class="box">6 </div>  
  </div>
    

</body>
</html>