/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #202124;
    font-size: 13px;
}
header a:hover{
    text-decoration: underline;
}
.login-btn {
    color: #f8f9fa;
    border: 1px solid #dadce0;
    background-color: #1a73e8;
    border-radius: 20px;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 13px;
    transition: background-color 0.3s;
}

.login-btn:hover {
    border-color: #d2e3fc;
    box-shadow: 0 1px 3px rgba(66, 133, 244, 0.2);
}

/* Contenido principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-bottom: 150px;
}

.logo-container {
    margin-bottom: 30px;
}

#logo {
    font-size: 80px;
    font-weight: normal;
    letter-spacing: -3px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Colores personalizados para el logo */
azul { color: #4285F4 }
rojo { color: #DB4437; }
amarillo { color: #F4B400; }
verde { color: #0F9D58; }

/* Barra de búsqueda */
.search-container {
    width: 100%;
    max-width: 580px;
}

.search-box {
    width: 100%;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 12px 20px;
    margin-bottom: 25px;
}

.search-box:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

/* Botones */
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-btn, .lucky-btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
}

.search-btn:hover, .lucky-btn:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

/* Footer */
footer {
    background: #f2f2f2;
    width: 100%;
}

.country {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    color: #70757a;
    font-size: 15px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    flex-wrap: wrap;
}

.footer-links a {
    color: #70757a;
    text-decoration: none;
    font-size: 14px;
    margin-right: 15px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.left-links, .right-links {
    display: flex;
}