* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: white;
    color: #0f1419;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    width: 320px;
    height: auto;
}

.right {
    flex: 1;
    max-width: 380px;
    padding: 20px;
}

.right h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.right h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 9999px;
    font-size: 15px;
    margin-bottom: 12px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    justify-content: center;
    font-weight: 500;
}

.btn img {
    width: 20px;
    height: 20px;
}

.btn span {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    text-align: left;
}

.btn span small {
    font-size: 12px;
    color: gray;
}

.btn.create {
    background-color: #1d9bf0;
    color: white;
    border: none;
    font-weight: bold;
}

.divider {
    text-align: center;
    margin: 12px 0;
    color: gray;
}

.terms {
    font-size: 12px;
    color: gray;
    margin-bottom: 20px;
}

.terms a {
    color: #1d9bf0;
    text-decoration: none;
}

.have-account {
    font-weight: 600;
    margin-bottom: 8px;
}

.btn.login {
    font-weight: bold;
}

footer {
    border-top: 1px solid #eee;
    padding: 16px;
    font-size: 12px;
    color: #555;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.footer-links a {
    color: #555;
    text-decoration: none;
}


@media (max-width:1250px){
    .hero-content h1{
        font-size: 2.5rem;
    }

    .hero-content p{
        font-size: 1.2rem;
    }

    .email-signup input[type="email"]{
        width: 100%;
        margin-bottom: 10px;
    }

    .get-started-btn {
        width: 100%;
        margin-left: 0;
    }

    .reasons-grid{
        grid-template-columns: repeat(3, minmax (280px, 1fr));
    }

    .navbar {
        padding: 20px 20px;
    }

}


@media (max-width:1000px){
    .hero-content h1{
        font-size: 2.5rem;
    }

    .hero-content p{
        font-size: 1.2rem;
    }

    .email-signup input[type="email"]{
        width: 100%;
        margin-bottom: 10px;
    }

    .get-started-btn {
        width: 100%;
        margin-left: 0;
    }

    .reasons-grid{
        grid-template-columns: repeat(3, minmax (280px, 1fr));
    }

    .navbar {
        padding: 20px 20px;
    }

}


@media (max-width: 850px){
    .hero-content h1{
        font-size: 2.5rem;
    }

    .hero-content p{
        font-size: 1.2rem;
    }

    .email-signup input[type="email"]{
        width: 100%;
        margin-bottom: 10px;
    }

    .get-started-btn {
        width: 100%;
        margin-left: 0;
    }

    .reasons-grid{
        grid-template-columns: repeat(3, minmax (280px, 1fr));
    }

    .navbar {
        padding: 20px 20px;
    }

}

@media (max-width: 550px){
    .hero-content h1{
        font-size: 2.5rem;
    }

    .hero-content p{
        font-size: 1.2rem;
    }

    .email-signup input[type="email"]{
        width: 100%;
        margin-bottom: 10px;
    }

    .get-started-btn {
        width: 100%;
        margin-left: 0;
    }

    .reasons-grid{
        grid-template-columns: repeat(3, minmax (280px, 1fr));
    }

    .navbar {
        padding: 20px 20px;
    }

}