body{
    color: white; background-color: black;font-family: Arial, sans-serif;

}



main{
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    gap: 40px;
}

.icono{
    margin: 0px 30vh 0px 90px;
}

.cDerecha{
    justify-items: left;
    align-items: center;
    width: 18%;
    
}

.sGoogle{
    background-color: white;
    border-radius: 30px;
    width: 80%;
    height: 30px;

}
.sApp{
    background-color: white;
    border-radius: 30px;
    width: 80%;
    height: 30px;
}

.linea0{
    display: flex;
    justify-items: center;
    align-items: center;

}
.linea1{
    width: 30%;
    height: 1px;
    background-color: rgb(61, 61, 61);
}

.crearC{
    background-color: rgb(32, 169, 255);
    color :white;
    border-radius: 30px;
    width: 80%;
    height: 30px;
}

.subTexto{
    text-align: left;
    color: gray;
    font-size: 9px;
}

.yaCuenta{
    font-size: 10px;
    width: 100%;
}

.iniciarSecion{
    background-color: black;
    border-color: white;
    border-radius: 30px;
    width: 80%;
    height: 30px;
    color: rgb(32, 169, 255);
}






@media (max-width: 1250px){
    #logo{
        width: 50%;
    }
    .icono{
        margin-right: 0;
    }
    .cDerecha{
        width: 220px;
    }

}

@media (max-width:900px) {
    #logo{
        width: 60%;
    }
    
    .icono{
        margin-left: 0;
    }
    main{

        display: grid;
        grid-template-columns: repeat(1,14.5rem);
        grid-template-rows: repeat(2, 200px);
        gap: 10px;
        padding: 10px;
        
    }
}

@media (max-width:600px) {
    
}
