body{
    margin: 0;
}


.inicio{
    font-family: Arial, Helvetica, sans-serif;
    
    background-image: url(Imagenes/hero-background.jpg);
    background-color: rgba(0, 0, 0, 0.639);
    background-blend-mode:color;
    
}

.cabeza{
    display: flex;
    padding-top: 7px;
    flex-direction: row;
    margin-left: 35px;
    margin-right: -100px;
}

.cabeza img{
    width: 10%;
    margin-right: 65%;
    margin-top: 10px;
}

.cabeza select{
    background-color: rgba(0, 0, 0, 0.59);
    padding: 7px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
}

.cabeza button{
    background-color: red;
    color:white;
    border: none;
    font-weight: bold;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    margin-top: 4px;
}

.space2{
    margin: 4px;
}


.texto{
    font-size: 160%;
    margin-top: 5%;
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    flex-direction: column;
}

.texto p {
    font-size: 80%;
    margin-top: 0;
}


.formulario{
    display: flex;
    padding-bottom: 80px;
    margin-left: 35%;
}

.space {
    margin: 50px;
}

.formulario input{
    background-color: rgba(0, 0, 0, 0.668);
    height: 40px;
    width: 140%;
    color: white;

}

.formulario button{
    color: white;
    background-color: red;
    height: 50px;
    width: 129%;
    border-style: none;
    font-weight: bold;
    flex-direction: row;
    border-radius: 5px;
}

/*---------------------------Tendencias---------------------*/

.tendencias{
    background-color: rgb(16, 16, 16);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 30px;
}



.pelis{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 10px;
    

    margin-bottom: 100px;
    height: 10%;
    overflow-x: auto;
}

/*---------------------------Mas motivos para unirte---------------------*/
.motivos{
    color: white;
    background-color: black;

}

.motivos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,100px);
}

.box{
    background-color: purple;
    display: flex;
    height: 320px;
    width: 300px;
    border-radius: 4px;
    margin: 10px;
    flex-direction: column;
}






