body {
    background-color: black;
    min-height: 100vh;
    margin: 0;
}

header{
    min-height: 50px;
}

img {
    width:  315px;
    height: 286px;
}

footer {
    color: #595D62;
    text-align: center;
    margin-top: auto;
}

footer a{
    color: #595D62;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */

}

.grid-container {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 100vh);
    gap: 10px;
    justify-content: center;
    margin: auto;
    padding: 10px
}

.left {
    width: 50px;
    height: 50px;
    background-color: yellow;
    color: purple;
    display: flex;
    margin-top: 25%;
    margin-left: 200px;
    justify-content: space-around;
    font-size: 20px;
}

.right {
    width: 50px;
    height: 50px;
    color: white;
    font-size: 20px;   
    display: flex; 
    flex-direction: column;
    margin-top: 60px;
    margin-left: 90px;
}

.right h1 {
    width: 500px;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.right label {
    width: 500px;
    margin-top: 40px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.right button {
    width: 290px;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 15px;
    padding: 7px;
    text-align: center;
}

#p1 {
    width: 290px;
    font-size: 12px;
    color: #71767B;
}

a {
    color: #1D9BF0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#o {
    margin: 0;
    margin-bottom: -15px;
    margin-left: 135px;
}

#btn1 {
    border:none
}

#label-login {
    font-size: 20px;
}

#signup {
    background-color: #1D9BF0;
    border: none;
    color: white;
    font-weight: bold;
}

#button-login {
    background-color: black;
    color: #1D9BF0;
    border-color: #536471;
}



hr {
    background-color: white;
    width: 120px;
    display: flex;
}

#hr1 {
    background-color: white;
}

#hr2 {
    background-color: white;
}

#div1 {
    width: 80px;
    margin-top: 10px;
}

#div1 hr {

}

#div2 {
    width: 80px;
}

#div2 label {
    margin-left: 55px;
    margin-top: 10px;
}

#div3 {
    width: 80px;
    margin-top: 10px;
}

#lineasOR {
    width: 300px;
    display: flex;
}

@media (max-width: 900px){
    .footer {
  position: absolute;
  bottom: 1;
  width: 100%;
  height: 2.5rem;            /* Footer height */

}

.grid-container {
    position: relative;

    grid-template-columns: repeat(1, 1fr);
}

    .right {


        margin-left: 220px;
    }

}