/*Por etiquetas*/


body {
    margin:0;
    padding:0;
    font-family:Helvetica Arial, sans-serif;
    align-items:center;
    background:#fafafaf5;
}


p {
    color:black;
    font-size:16px;
    margin:0;
}

hr {
    border:none;
    border-top:1px solid #d1d5d8;
    margin: 20px 0;
    max-width:400px;
}

input > input {
    margin-top:10px;
}


/*Por id*/

#logo {
    color:blue;
    font-size:56px;
    font-weight:bold;
    margin-bottom:16px;
}

/*Por clases*/

.col-izq h1{ /*aplica a todos los h1 que esten dentro de la col-izq*/
    letter-spacing: -1px;
}

.container > .col-der { /*hijos directos de la columna dercha */
    display:flex;
    flex-direction:column;
    align-items:center;
}


.forgot-password-container{
    width: 50%;
    display:block;
    margin-inline:auto;
}


.forgot-password{
    display:block;
    text-align:center;
    margin-top:10px;
    font-size:14px;
    color:blue;
    text-decoration:none;
}


.slogan {
    font-size:24px;
    line-height:20px;
    width:430px;
}

.btn-login {
    background:rgb(0, 119, 255);
    color:white;
    font-weight:bold;
    border:none;
    padding:12px;
    font-size:24px;
    cursor:pointer;
    width:100%;
    border-radius:6px;
    margin-top:10px;
}

.btn-create {
    background:rgb(33, 179, 65);
    color:white;
    font-weight:bold;
    border:none;
    padding:12px;
    font-size:20px;
    cursor:pointer;
    width:70%;
    border-radius:6px;
    margin-top:10px;
    display:block;
    margin-left:auto;t
    margin-right:auto;
}


/*layout generate*/
.container {
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    padding:20px;
}


.col-der {
    width:400px;
}

.col-izq {
    margin-right:60px;
    margin-bottom:150px;
    max-width:500px;
}

.login-box {
    background-color:white;
    padding:24px;
    border-radius:8px;
    box-shadow: 0 2px 4px rgb(0,0,0, 0.2);
}
.login-box form input[type="text"],
.login-box form input[type="password"]{
    border:1px solid rgb(241, 241, 241);
    border-radius:6px;
    margin:5px;
    padding:14px;
    font-size:17px;
    width:100%;
    box-sizing:border-box;
}


.create-page {
    font-size:14px;
    text-align:center;
    margin-top:20px;
    color:darkslategray;
    margin-inline:10px;
}

/*pseudo clases*/



a:hover {
    text-decoration:underline;
}
.btn-login:hover {
    background-color: blue;
}



