<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title> Flexbox</title>
    <style>
    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        padding: 20px;
    }
    .box {
        width: 60px;
        height: 60px;
        background-color: red;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        font-size: 20px;    }
    </style>
</head>
<body>
    <div class="flex-container">
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>

    </div>
</body>
</html>