/* RESET Y FUENTES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: black;
    color: white;
}

/* ENCABEZADO */
header {
    padding: 20px;
    /*para espaciado del contenedor de adentro*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.top-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
}

.img img {
    height: 30px;
}

.top-controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

select {
    padding: 5px 5px;
    background-color: black;
    color: white;
    border: 1px solid #fff;
    border-radius: 4px;
    opacity: 80%;

}

.login-btn {
    padding: 10px 20px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;

}

/* SECCIÓN PRINCIPAL */
.principal {
    position: relative;
    background-image: url('hero-background.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 700px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.email {
    background: #000;
    padding: 12px;
    color: #FFFF;
    width: 300px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    opacity: 80%;

}

.comenzar-btn {
    margin-left: 10px;
    padding: 12px 20px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

/* TENDENCIAS */
.Tendencias {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #141414;
    padding: 60px;
    display: flex;
    gap: 15px;
    overflow-x: auto;
    border-top: 6px solid #333;

}

/* POSTERS */
.poster-container {
    display: flex;
    gap: 10px;
}

.poster {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: 100px;
}

.poster span {
    background-color: #000000;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    padding: 10px;
    text-align: center;
    opacity: 80%;
    border-radius: 5px 5px 0 0;
    width: 30px;
    font-size: 1rem;
    color: white;
}

/*Características*/
.features {
    padding: 50px 30px;
    background-color: black;
    text-align: center;
    border-top: 6px solid #333;
    justify-content: flex-start;
}

.features h2 {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 40px;
}

.features-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-bottom: 50px;
}

.card {
    background: linear-gradient(145deg, #1a1a2e, #0f0f1f);
    border-radius: 10px;
    padding: 30px 20px 120px;
    width: 250px;
    color: white;
    position: relative;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
    transition: transform 0.3s;
}

.card h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    text-align: left;

}

.card p {
    font-size: 0.75rem;
    line-height: 1.4;
    color: #adadad;
    text-align: left;
}

.card .icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 35px;
    height: auto;
    opacity: 0.8;
}

/* FOOTER */
.faq {
    padding: 50px 20px;
    background-color: #111;
    color: white;
    text-align: center;
}

.faq h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.faq-item {
    max-width: 600px;
    margin: 0 auto 10px;
    text-align: left;
    background-color: #2c2c2c;
    border-bottom: 1px solid #444;
}

.faq-question {
    width: 100%;
    padding: 20px;
    background-color: #2c2c2c;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-p{
    font-size: 0.8rem;
}